inference-service:
  api-key: xxx
  endpoint: http://127.0.0.1:1234/v1
batch:
  input:
    type: INSTAGRAM_EXPORT
    path: ./input/
  output:
    type: TXT
    path: ./output/
    merge-to-one-file: true
    export-chat-log: false
logs:
  level: INFO
parsing:
  chat-sessions:
    enabled: true
    sleep-window-end-hour: 9
    sleep-window-start-hour: 2
  ignore-chat:
    enabled: false
    ignore-before: "1990-01-01"
    ignore-after: "2150-01-01"
  messages:
    user-interactions:
      message-like: "Ha messo \"Mi piace\" a un messaggio"
      message-reaction: "Ha aggiunto la reazione"
      call-start: "avviato una videochiamata"
    user-content:
      call-start: "[Call started]"
      call-end: "[Call ended]"
      posts-and-reels: "[Shared an internet video]"
      video-uploads: "[Sent a video of himself]"
      photo-uploads: "[Sent a photo of himself]"
      audio-messages: "[Sent an audio message]"
llm:
  max-tokens: 2000
  model-name: gemma-3-4b-it-qat
  system-prompt: |-
    You are a bot that writes simple diary entries.
    Below are messages from one day of Instagram DMs.
    Each message starts with the senderï¿½s name, then a colon, then the text.
    Your job is to write a short diary entry that summarizes what the user did or talked about that day, based only on the provided messages.
  temperature: 0.7
  top-p: 0.8
  user-prompt: |-
    {{$chat_history}}
    Messages:
    {{$messages}}
    Diary entry: